.Game {
  background-color: black;
  height: 110vh;
  margin-top: -25px;
  justify-content: center;
}

.game-comps {
  display: flex;
  justify-content: center;
  padding: 10%;
}

.lives {
  height: 200px;
  width: 200px;
  text-align: center;
}

.image {
  background-color: bisque;
  height: 400px;
  width: 400px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.current-score {
  height: 200px;
  width: 200px;
  text-align: center;
}

h2 {
  font-size: 3rem;
  color: white;
  margin-top: -10px;
}

h1.player-name {
  text-align: center;
  margin: unset;
  padding-top: 3rem;
}

@media screen and (max-width: 500px) {
  .Game {
    background-color: black;
    margin-top: -25px;
    justify-content: center;
  }

  .game-comps {
    justify-content: center;
    padding: 10%;
  }

  .lives {
    text-align: center;
  }
}
