.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-size: 12px;
}

h1.header {
  font-size: 3rem;
}

.results {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.results-card {
  background: rgb(35, 35, 35);
  border-radius: 10px;
  border: 0.25rem solid;
  border-color: rgb(73, 73, 251);
  width: 90%;
}

.results-container {
  padding: 0.5rem 1rem;
}

.results-container .results-row {
  display: flex;
  padding: 0.25rem 0;
  align-items: flex-end;
}

.results-container .results-row .score,
.results-container .results-row .name {
  position: relative;
  display: inline-flex;
  line-height: 1.5rem;
  margin: unset;
}

.results-container .results-row .name {
  flex: 0;
  margin-right: 1rem;
}

.results-container .results-row .score {
  flex: 1;
}

.results-container .results-row strong {
  font-size: 1.5rem;
}

input {
  color: white;
  background: black;
  border: 0;
  border-radius: 5px;
  line-height: 1.2rem;
}

button.results-submit-button {
  font-size: 1.5rem;
  margin-top: 2rem;
  width: 50%;
}
