.name-input {
    background-color: rgb(39, 39, 39);
    width: 400px;
    border: 2px;
    margin-right: 10px;
    height: 50px;
    border-radius: 5px;
    color: aliceblue;
    padding-left:2%;
    font-size: 1.2rem;
}

.submit-btn {
    background-color: rgb(82, 82, 255);
    color:white;
    border: 0px;
    height: 50px;
    width: 70px;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: blue;
}

form {
    text-align: center;
    margin-top: -70px;
}

@media screen and (max-width: 500px) {
    .name-input {
        background-color: rgb(39, 39, 39);
        width: 150px;
        border-color: blue;
        margin-right: 10px;
        height: 42px;
        border-radius: 5px;
        color: aliceblue;
        padding-left:2%;
        font-size: 1.2rem;
    }
    
    .submit-btn {
        background-color: rgb(82, 82, 255);
        color:white;
        border: 0px;
        height: 40px;
        width: 70px;
        border-radius: 5px;
    }
    
    .submit-btn:hover {
        background-color: blue;
    }
    
    form {
        text-align: center;
        margin-top: 70px;
    }
}